doctype html
html
	head
		title='Latrine Machine'
		link(rel='stylesheet', type="text/css", href="../bower_components/normalize-css/normalize.css")
		link(rel='stylesheet', type="text/css", href="./public/stylesheets/css/style.css")
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css')
	body
		block content
		script(src='../bower_components/jquery/dist/jquery.min.js')
		script(src='../lib/react.min.js', type="text/jsx")
		script(src='../public/js/build/app.js')