@mixin contentArea(){
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	width: 60%;
}

$black:   #111111;
$lime:    #01FF70;
$gray:    #D8D8D8;
$dk-gray: #B1B1B1;
$silver:  #DDDDDD;
$teal:    #39CCCC;
$olive:   #3D9970;
$purple:  #B10DC9;
$blue:    #0074D9;

body {
	background: white;
	color: #4A4A4A;
	font-family: 'Noto Sans', sans-serif;
	height: 100%;
}

header {
	background-image: url("/public/img/shattered.png");
	background-repeat: repeat;
	border-bottom: 1px solid $dk-gray;
	padding: 0.25em 0 1em 0;
	width: 100vw;
	.logo {
		border-bottom: 1px solid $dk-gray;
		display: inline-block;
	}
	.logo-text {
		font-size: 1.25rem;
	}

	.greeter {
		padding-top: 1em;
		text-align: center;
	}

}

.contentArea1 .contentArea,
.contentArea2 .contentArea {
	min-height: 40vh;
	max-height: 50vh;
	overflow: scroll;
}
.contentArea1 {
	padding: 2em 0;
	position: relative;
	text-align: left;

	.greeter {
		font-size: 30px;
		opacity: 0.7;
	}
	.miniHeading {
		font-size: 0.75rem;
		margin-bottom: 2em;
	}
	&:after {
		bottom: -48px;
		border: 24px solid transparent;
		border-top-color: white;
		content: "";
		display: block;
		left: 50%;
		margin-left: -24px;
		position: absolute;
		z-index: 1;
	}
}

.contentArea2 {
	background: $gray;
	padding: 3em 0;
	text-align: center;
	.actionableQuestion {
		font-size: 1.5rem;
	}
}

footer {
	background: $dk-gray;
	border-top: 1px solid $silver;
	text-align: center;
}

.contentArea {
	@include contentArea();
}
.roomCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	padding: 20px 0 30px 0;
}

.roomCard {
	border: 1px solid white;
	border-radius: 3px;
	display: inline-block;
	margin: 10px 0px;
	padding: 20px;
	text-decoration: none;
	color: #4A4A4A;
	&:hover {
		background: #D2D2D2;
	}
	&:active, &.active {
		background: #B5B5B5;
	}
}

.resizeableRoom {
	canvas {
		display: block;
		margin: 0 auto;
	}
}
.roomsWithToilet {
	.roomWithToilet-link {
		display: inline-block;
		width: 150px;
		margin: 1%;
		height: auto;
		
		&:hover {
			canvas {
				background: #FDFDFD;
				border: 1px solid #D2D2D2;
				border-radius: 2px;
			}
		}
	}

	canvas {
		// transform: scale(0.5, 0.5);
		background: #D2D2D2;
		width: 100%;
	}
}

.nextButton {
    bottom: 0;
	background: #E2E2E2;
	border: 1px solid white;
	border-radius: 2px;
	color: $teal;
	padding: 2px 12px;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    &:hover {
		background: #D2D2D2;
	}
	&:active {
		background: #B5B5B5;
	}
}
