@mixin contentArea(){
	margin: 0 auto;
	max-width: 1000px;
	width: 60%;
}

$black: #111111;
$lime: #01FF70;
$gray: #D8D8D8;
$dk-gray: #B1B1B1;
$silver: #DDDDDD;
$teal: #39CCCC;
$olive: #3D9970;
$purple: #B10DC9;
$blue: #0074D9;

html, body {
	background: white;
	color: #4A4A4A;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background-image: url("/public/img/shattered.png");
	background-repeat: repeat;
	padding: 0.25em 0 1em 0;
	border-bottom: 1px solid $dk-gray;
	.logo {
		display: inline-block;
		border-bottom: 1px solid $dk-gray;
	}
	.logo-text {
		font-size: 1.25rem;
	}

	.greeter {
		text-align: center;
		padding-top: 1em;
	}

}

.contentArea1 {
	text-align: center;
	padding: 2em 0;
	position: relative;
	.miniHeading {
		font-size: 0.75rem;
		margin-bottom: 2em;
	}
	&:after {
		content: "";
		position: absolute;
		display: block;
		bottom: -48px;
		border: 24px solid transparent;
		left: 50%;
		margin-left: -24px;
		z-index: 1;
		border-top-color: white;
	}
}

.contentArea2 {
	background: $gray;
	text-align: center;
	padding: 2em 0;
	.actionableQuestion {
		font-size: 1.5rem;
	}
}

footer {
	border-top: 1px solid $silver;
	background: $dk-gray;
	text-align: center;
}

.contentArea {
	@include contentArea();
}